.tjump {
  max-width: 130px !important;
  font-size: 1.1em !important;
}

.inout_sum {
  font-size: 1.7em!important;
  padding-top: 0em !important;
  padding-right: 1em !important;
  padding-bottom: 0em !important;
  padding-left: 1em !important;
  background-color: #81b5dc !important;
  margin: 0.1em !important;
}

.overall_sum {
  font-size: 3em!important;
  padding-top: 0em !important;
  padding-right: 1em !important;
  padding-bottom: 0em !important;
  padding-left: 1em !important;
  background-color: #8ada8a !important;
}

.upload-block {
  display: inline-block;
  margin: auto;
  border: 2px dashed #0087F7;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 80px;
  line-height: 50px;
  font-size: larger;
  background: #bfecbf;
}

.multi_select {
  width: 550px;
}

.monitor .ui.basic.table {
  font-size: 12px;
}

.monitor .monitor_tr {
  background: #eaeaea;
  font-weight: bolder;
}

.monitor .settings_btn {
  position: absolute;
  padding: .38571429em .47571429em .48571429em!important;
  font-size: .68571429rem!important;
  margin-top: 8px!important;
}

.monitor .ui.table td.positive, .ui.table tr.positive {
  background: #e1e6d4!important;
  font-weight: bolder;
}

.monitor .ui.table tr td.disabled, .ui.table tr.disabled td, .ui.table tr.disabled:hover, .ui.table tr:hover td.disabled {
  background: #e1e6d4!important;
}

.monitor .ui.table td.active, .ui.table tr.active {
  background: #efeff5!important;
  color: #287ab7!important;
}

.monitor .ui[class*="very compact"].table td {
  padding: .1em .3em;
}

.monitor .ui.table td.one.wide, .ui.table th.one.wide {
  width: 2.5%;
}

.monitor .table_header {
  background: #dad4c1;
}

.monitor .ui.table thead th {
  padding: .2em .3em;
}

.mejs__container {
  height: 410px!important;
}

.mejs__time-buffering {
  display: none !important;
}

.trimmed_label {
  font-size: 14px!important;
  color: #2C662D!important;
  ont-weight: bold!important;
  /*text-decoration: underline;*/
  /*text-decoration-color: red;*/
  /*text-decoration-style: double;*/
}

.scrolling.dimmable.dimmed>.dimmer {
  overflow: auto;
}

.inout_btn:hover {
  background-color: #21BA45!important;
}

.inout_btn {
  vertical-align: top!important;
}

/* START TRIMMER CONTROL */

.btn_speed {
  width: 1px!important;
  padding: .18571429em 0.9em 1.8571429em!important;
}

.trimmer_control {
  padding: .5em .5em!important;
}

.time_control .ui.button {
  color: black;
  background: #d0dce8;
  border-bottom-color: black!important;
}

.frame_control .ui.button {
  color: black;
  background: #ccded1;
}

.time_control .ui.buttons .or:before {
  font-size: 13px!important;
  color: black;
}

.speed_control .ui.buttons .or:before {
  font-size: 13px!important;
  color: black;
}

.frame_control .ui.buttons .or:before {
  font-size: 13px!important;
  color: black;
}

.time_control .ui.button:hover {
  background-color: #2185D0!important;
}

.frame_control .ui.button:hover {
  background-color: #2185D0!important;
}

.inout_part {
  border: 1px solid rgba(0,0,0,.87);
  border-style: inherit;
  background-color: #80808024;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
}

.inout_content{
  overflow-y:scroll;
  top:0px; left:0px;
  width:100%; height:400px;
}
/* END TRIMMER CONTROL */

.ingest_segment {
  min-width: 1000px;
}

.mejs__overlay-button {
  display: none;
}

.mejs__overlay-loading {
  display: none;
}

.mejs__button>button {
  font-size: 0;
  line-height: 0;
  margin: 10px 6px!important;
  overflow: hidden!important;
  padding: 0;
  position: absolute;
  text-decoration: none;
  width: 20px;
}

.table_inouts {
  min-width: 310px!important;
  max-width: 310px!important;
}

.table_ctls{
  min-width: 140px!important;
  max-width: 140px!important;
}

.table_media {
  min-width: 650px!important;
  max-width: 650px!important;
}

.table_main {
  min-width: 1120px!important;
  max-width: 1120px!important;
  margin-bottom: 0em!important;
  margin-top: 0em!important;
}

.trimmer_modal {
  min-width: 1120px!important;
  max-width: 1120px!important;
}

.wfdb_app .ui.basic.table {
  font-size: 14px;
}

.wfdb_app .monitor_tr {
  background: #eaeaea;
  font-weight: bolder;
  cursor: pointer!important;
}

.wfdb_app .settings_btn {
  position: absolute;
  padding: .38571429em .47571429em .48571429em!important;
  font-size: .68571429rem!important;
  margin-top: 8px!important;
}

.wfdb_app .ui.table td.positive, .ui.table tr.positive {
  background: #e1e6d4!important;
  font-weight: bolder;
}

.wfdb_app .ui.table tr td.disabled, .ui.table tr.disabled td, .ui.table tr.disabled:hover, .ui.table tr:hover td.disabled {
  background: #e1e6d4!important;
}

.wfdb_app .ui.table td.active, .ui.table tr.active {
  background: #efeff5!important;
  color: #287ab7!important;
}

.wfdb_app .ui[class*="very compact"].table td {
  padding: .1em .3em!important;
}

.wfdb_app .ui.table td.one.wide, .ui.table th.one.wide {
  width: 2.5%;
}

.wfdb_app .table_header {
  background: #dad4c1;
}

.wfdb_app .ui.table thead th {
  padding: .2em .3em;
}

.ui.table tr.active, .scoped-semantic-ltr .ui.table td.active {
  background: #f7ffe6 !important;
  color: #275b28 !important;
  font-weight: bold!important;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: double;
  /*color: #287ab7!important;*/
}