.upload-block {
  display: inline-block;
  margin: auto;
  border: 2px dashed #0087F7;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 80px;
  line-height: 50px;
  font-size: larger;
  background: #bfecbf;
}

.monitor .ui.basic.table {
  font-size: 12px;
}

.monitor .monitor_tr {
  background: #eaeaea;
  font-weight: bolder;
}

.monitor .settings_btn {
  position: absolute;
  padding: .38571429em .47571429em .48571429em!important;
  font-size: .68571429rem!important;
  margin-top: 8px!important;
}

.monitor .ui.table td.positive, .ui.table tr.positive {
  background: #e1e6d4!important;
  font-weight: bolder;
}

.monitor .ui.table tr td.disabled, .ui.table tr.disabled td, .ui.table tr.disabled:hover, .ui.table tr:hover td.disabled {
  background: #e1e6d4!important;
}

.monitor .ui.table td.active, .ui.table tr.active {
  background: #efeff5!important;
  color: #287ab7!important;
}

.monitor .ui[class*="very compact"].table td {
  padding: .1em .3em;
}

.monitor .ui.table td.one.wide, .ui.table th.one.wide {
  width: 2.5%;
}

.monitor .table_header {
  background: #dad4c1;
}

.monitor .ui.table thead th {
  padding: .2em .3em;
}