.upload-block {
  display: inline-block;
  margin: auto;
  border: 2px dashed #0087F7;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: larger;
  background: #bfecbf;
}